* {
    margin: 0;
    padding: 0;
}

.header {
    padding: 51px 0 0 0;
    margin: 0 0 84px 0;
}

.top-content {
    margin: 0 0 162px 0;
}

.top-content-title {
    margin: 0 0 17px 0;
}

.top-content-txt {
    margin: 0 0 37px 0;
}

.logos-wrp {
    padding: 0 0 96px 0;
}